@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*========Header========*/

nav {
	position: sticky;
	top: 1%;
	border-radius: 10px;
	border: 2px none gray;
}

nav li {
	display: inline-block;
	padding:10px ;
	margin: 5px;

}

nav a {
	text-decoration: none;
	font-family: "Roboto Mono";
}

nav ul {
	list-style: none;
	background-color: skyblue;
	text-align: center;
	margin: 10px;
}

/*========Footer========*/

.imagediv {
	border-radius: 10px;
	border: 2px solid gray;
  	padding: 1px;
  	display: flex;
  	flex-direction:column;
  	align-items: left;
  	background-color: hsl(60, 100%, 80%);
}

.imagediv2 {
	border-radius: 10px;
	border: 2px solid gray;
  	padding: 1px;
  	display: flex;
  	flex-direction:column;
  	align-items: left;
  	background-color: rgb(255, 255, 204);
}



img {
	border-radius: 8px;
  	display: flex;

}

h1 #temp {
	color: red;
}

a {
	text-decoration: none;
	color: black;	
}

body {background-color: ;}

.date {
	opacity:1;
	color:dimgray;
}


