@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*========Header========*/

nav {
	position: sticky;
    top: 1%;
    border-radius: 2px;
    width: 100%;   
    margin: 0 auto;       
}

nav li {
	display: inline-block;
	margin: 3px;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
}

nav a {
	text-decoration: none;
	font-family: "Roboto Mono";
}

nav ul {
	list-style: none;
    background-color: skyblue;
    text-align: center;
    margin: 0;            
    border-radius: 8px;  
    padding: 5px;
}

/*========Footer========*/

.imagediv {
	border-radius: 10px;
	border: 2px solid gray;
  	padding: 1px;
  	display: flex;
  	flex-direction:column;
  	align-items: left;
  	background-color: rgb(255, 255, 204);
}

.imagediv2 {
	border-radius: 10px;
	border: 2px solid gray;
  	padding: 1px;
  	display: flex;
  	flex-direction:column;
  	align-items: left;
  	background-color: rgb(255, 255, 204);
}



img {
	border-radius: 8px;
  	display: flex;

}

a {
	text-decoration: none;
	color: black;	
}


.date {
	opacity:1;
	color:dimgray;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed; 
}

th, td{
	padding: 10px;
  border: 1px solid gray;
  text-align: center;
}

li {
	font-size: 20px;

}

.li2 {
	background-color: rgb(255, 255, 204);
	
}

.li1 {
	background-color: rgb(255, 255, 230);
	
}

/*rgb(230, 230, 230) gray*/

#div1 {


}

